<div class="nopadding page-content" ng-controller="commonCtrl">
    <!--Content Here-->
    <div class="uk-grid full-height scrollable" style="padding: 0 15px">
        <div class="uk-width-1-2" style="padding:25px 0 0 0;">
            <!--<img class="uk-responsive-width" src="img/TD_Black.png" alt="">-->
            <svg version="1.1" id="logosvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 288.9 70.1" xml:space="preserve" style="width: 150px; margin-bottom: 25px; margin-left: 40px;">
    <style type="text/css">
        .st0 {
            fill: rgba(0, 0, 0, 0.6);
        }

        .st1 {
            fill: rgba(231, 76, 60, 0.9);
        }
    </style>

    </svg>
         
        <div class="uk-width-1-2" style="padding:45px 0 0 40px;">


        </div>
    </div>

    <div id="privacyPolicyWindow" class="uk-modal" aria-labelledby="privacyPolicy" aria-hidden="true" role="dialog">
        <div class="uk-modal-dialog uk-modal-dialog-large uk-clearfix" style="padding-top: 70px;">
            <div style="width: 100%; height: 50px; background-color: #f6f6f6; margin-bottom: 5px;position:absolute;top: 0;left: 0; padding: 7px 25px;">
                <h4 style="font-size: 24px; margin-top: 7px; font-weight: 300;color: #222;">
                    Politica de Privacidade
                    <a class="uk-modal-close uk-close no-ajaxy right" aria-label="Close"></a>
                </h4>
            </div>
            <div>
                {{{data.privacyPolicy}}}
            </div>
        </div>
    </div>

</div>